[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed
[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://pigweed.googlesource.com/third_party/github/nanopb/nanopb
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://pigweed.googlesource.com/third_party/boringssl/boringssl
	branch = master
[submodule "third_party/mbedtls/src"]
	path = third_party/mbedtls/src
	url = https://pigweed.googlesource.com/third_party/github/ARMmbed/mbedtls
	branch = master
[submodule "third_party/picotls/src"]
	path = third_party/picotls/src
	url = https://github.com/h2o/picotls.git
	branch = master
