[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://pigweed.googlesource.com/pigweed/pigweed
	branch = main
[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://pigweed.googlesource.com/third_party/github/nanopb/nanopb
	branch = main
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://pigweed.googlesource.com/third_party/boringssl/boringssl
	branch = main
[submodule "third_party/mbedtls/src"]
	path = third_party/mbedtls/src
	url = https://pigweed.googlesource.com/third_party/github/ARMmbed/mbedtls
	branch = main
[submodule "third_party/picotls/src"]
	path = third_party/picotls/src
	url = https://pigweed.googlesource.com/third_party/github/h2o/picotls.git
	branch = main
[submodule "third_party/freertos/Source"]
	path = third_party/freertos/Source
	url = https://pigweed.googlesource.com/third_party/github/FreeRTOS/FreeRTOS-Kernel.git
	branch = main
[submodule "infra/config"]
	path = infra/config
	url = https://pigweed.googlesource.com/infra/config
	branch = main
[submodule "third_party/32blit/32blit-sdk"]
	path = third_party/32blit/32blit-sdk
	url = https://github.com/32blit/32blit-sdk
